APP_NAME=OduCharles
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Africa/Kampala
APP_URL=http://localhost

# These 2 URLs should be accessible from a browser outside docker
#   - If the server is behind a reverse-proxy, use the proxy-based URL, for example
#       - in prod, with proxy, they could both be: https://lsmig.org.ug
#       - in dev, with proxy, they could both be: http://lsmig.local
#       - in dev, WITHOUT PROXY, they could both be: http://localhost
#   - Note that ASSET_URL can be different from APP_URL eg if you use a CDN or S3
APP_URL=http://lsmig.local
#ASSET_URL=http://lsmig.local


# Notes on Ports:
#   - LARAVEL_PORT_NUMBER is required, APP_PORT is not
#   - LARAVEL_PORT_NUMBER is the web server port used inside docker (is only accesible by other containers)
#   - APP_PORT is the web server port exposed to the docker host and possibly the whole internet
#	- They can have the same value or different values
#
APP_PORT=7058
LARAVEL_PORT_NUMBER=80

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=ocl-db
DB_PORT=3306
DB_DATABASE=ocl
DB_USERNAME=ocl_dba
DB_PASSWORD=ocl_dba

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
